html,
body,
p,
a,
ol,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  background: #000000; }

body {
  color: #ff0000; }

a {
  color: #00ffff; }

img {
  width: 100%; }

.svgtext {
  -webkit-filter: drop-shadow(5vw 0 0 #00ffff) drop-shadow(-5vw 0 0 #ff0000);
          filter: drop-shadow(5vw 0 0 #00ffff) drop-shadow(-5vw 0 0 #ff0000); }
