html,
body,
p,
a,
ol,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  background: #000000; }

#cmhtml {
  background: url("../bg/IMG_3206_2000.jpg") top left/100% repeat #000000; }

body {
  color: #ff0000; }

a {
  display: block; }

.ig:hover, .ig:active, .ig:focus {
  background: #00ffff; }

.mag:hover, .mag:active, .mag:focus {
  background: #ff0000; }

img {
  width: 100%; }

.svgtext {
  -webkit-filter: drop-shadow(5vw 0 0 #00ffff) drop-shadow(-5vw 0 0 #ff0000);
          filter: drop-shadow(5vw 0 0 #00ffff) drop-shadow(-5vw 0 0 #ff0000); }
