@import "reset";
@import "colors";

html {
  background-color: $bg;
}

body {
  color: $txt;
}

a {
  color: $lnk;
}

img {
  width: 100%;
}

#mag {
  filter: blur(10vw);
  margin: 2rem 0;
}

.svgtext {
  filter: drop-shadow(5vw 0 0 $lnk) drop-shadow(-5vw 0 0 $txt);
}