@import "reset";
@import "colors";

html {
  background: $bg;
}

#cmhtml {
  background: url("../bg/IMG_3206_2000.jpg") top left/100% repeat $bg;
}

body {
  color: $txt;
}

a {
  display: block;
}

.ig:hover, .ig:active, .ig:focus {
  background: $lnk;
}

.mag:hover, .mag:active, .mag:focus {
  background: $txt;
}

img {
  width: 100%;
}

.svgtext {
  filter: drop-shadow(5vw 0 0 $lnk) drop-shadow(-5vw 0 0 $txt);
}