html,
body,
p,
a,
ol,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  background: #000000; }

#cmhtml {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

body {
  color: #ff0000; }

a {
  display: block; }

.ig:hover, .ig:active, .ig:focus, .mag:hover, .mag:active, .mag:focus {
  background: white; }

.sp:hover .svgtext, .sp:active .svgtext, .sp:focus .svgtext {
  -webkit-filter: none;
          filter: none; }

img {
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.svgtext {
  -webkit-filter: drop-shadow(5vw 0 0 #00ffff) drop-shadow(-5vw 0 0 #ff0000);
          filter: drop-shadow(5vw 0 0 #00ffff) drop-shadow(-5vw 0 0 #ff0000); }
